{% extends 'layouts/default.njk' %}

{% block styles %}
<link rel="stylesheet" href="css/about.css">
{% endblock %}

{% block main %}
<main>
	<h1>hello</h1>
</main>
{% endblock %}

{% block scripts %}
<script src="scripts/about.bundle.js"></script>
{% endblock %}
