{% from 'components/atoms/heading/index.njk' import heading %}
{% extends 'layouts/default.njk' %}

{% block styles %}
<link rel="stylesheet" href="css/main.css">
{% endblock %}

{% block main %}
<main>
	<h1>hello</h1>
</main>
{% endblock %}

{% block scripts %}
<script src="scripts/main.bundle.js"></script>
{% endblock %}
